<header>
  <nav
    class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      bg-white
      border-bottom
      box-shadow
      mb-3
    "
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">FinanceSchedulerDemo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <div [ngClass]="{visible: (currentEnvironment == 'Development'), hidden: (currentEnvironment == 'Staging')}"> Development mode ON </div>
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li
            *ngIf="isAuthenticated"
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="showAccount()"
          >
            <a class="nav-link text-dark">Account</a>
          </li>
          <li
            *ngIf="isAuthenticated"
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="logout()"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Logout</a>
          </li>
          <app-auth-handler *ngIf="!isAuthenticated" class="d-flex"></app-auth-handler>
        </ul>
      </div>
    </div>
  </nav>
</header>
